
- if show_requirements
  %fieldset.requirements
    %legend 
      = t(".requirements")
    
    - if @job.requirements.drivers_license.present?
      .driver_license
        .header
          = t(".drivers_license") + ":" 
        .value
          = @job.requirements.drivers_license.join(", ")
  
    - if @job.requirements.education
      .education
        .header
          = t(".education") + ":" 
        .value
          = @job.requirements.t(:education)
  
    - if @job.requirements.experience
      .experience
        .header
          = t(".experience") + ":" 
        .value
          - case @job.requirements.experience
          - when -1
            = t(".required")
          - when 0
            = t(".none")
          - else
            = t(".experience_str", count: @job.requirements.experience)
            
  
    - if @job.requirements.own_car
      .own_car
        = t(".own_car") + ":" 
  
    - if @job.requirements.minimum_age 
      .minimum_age
        .header
          = t(".minimum_age") + ":" 
        .value
          = @job.requirements.minimum_age
  
    - if @job.requirements.maximum_age
      .maxiumum_age
        .header
          = t(".maximum_age") + ":" 
        .value
          = @job.requirements.maximum_age
  
    - if @job.requirements.languages.present?
      .languages
        .header
          = t(".languages") + ":" 
        .value
          - @job.requirements.languages.each do |d|
            .language
              = t(".language_type.#{d.language}") + ": " 
    
    - if @job.requirements.text
      .separator
      .text
        = @job.requirements.t(:text)

