<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Jobboteket" %></title>

  <% if content_for?(:description) %>
    <meta name="description" content="<%= yield(:description) %>"/>
  <% end %>
  
  <% if content_for?(:keywords) %>
    <meta name="keywords" content="<%= yield(:keywords) %>"/>
  <% end %>
  
  <%= csrf_meta_tag %>
  <% if false %>
  <%= hoptoad_javascript_notifier %>
  <% end %>
  <%= 
    (Rails.env.production? and File.exists?("#{Rails.root}/public/stylesheets/cached/all.css")) ? 
      stylesheet_link_tag('cached/all') : 
      stylesheet_link_tag(all_stylesheets, concat: (true ? false : 'cached/all')) 
  %>
  <script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
  <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=pederbl"></script>
  <% if Rails.env.production? %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22140768-1']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  <% end %>
</head>
<body>

  <%= render partial: "shared/header" %>

  <% if false %>
  <div class='bbc'>
    <a href="http://www.bbc.co.uk/iplayer/console/radio1" target="_blank">BBC Radio One | Now playing: </a>
  </div>
  <% end %>

  <%= content_for?(:body) ? yield(:body) : yield %>

  <%= render partial: "shared/footer" %>

  <%= 
      (Rails.env.production? and File.exists?("#{Rails.root}/public/javascripts/cached/all.js")) ? 
        javascript_include_tag('cached/all') : 
        javascript_include_tag(all_javascripts, concat: (true ? false : 'cached/all')) 
  %>
  <script type="text/javascript">
    (function() {
      var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
      uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/8vVBlcEottMLN5cQAkAbA.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
    })();
  </script>
  <% if Rails.env.production? %>
    <div class='media-creeper'>
      <!-- Begin MediaCreeper tracker code -->
      <a href="http://mediacreeper.com/latest" title="MediaCreeper">
        <img src="http://mediacreeper.com/image" alt="MediaCreeper" onerror="this.src='http://mediacreeper.se/image';" />
      </a>
      <!-- End MediaCreeper tracker code --> 
    </div>
    <div class='creeper'>
      <!-- Begin Creeper tracker code -->
        <a href="http://gnuheter.com/creeper/senaste" title="Creeper">
          <img src="http://gnuheter.com/creeper/image" alt="Creeper"/>
        </a>
      <!-- End Creeper tracker code -->
    </div>
  <% end %>
</body>
</html>
