<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Jobboteket: Lediga Jobb" %></title>

  <% if content_for?(:description) %>
    <meta name="description" content="<%= yield(:description) %>"/>
  <% end %>
  
  <% if content_for?(:keywords) %>
    <meta name="keywords" content="<%= yield(:keywords) %>"/>
  <% end %>
  
  <%= csrf_meta_tag %>
</head>
<body>

  <%= content_for?(:body) ? yield(:body) : yield %>

</body>
</html>
