- content_for :title do 
  = title

- if params[:action] == 'show'
  - content_for :description do
    = description

- if params[:action] == 'show'
  - content_for :keywords do
    = keywords

- content_for :body do 
  = yield

= render file: 'layouts/application'
